/* =========================================================
  
__________                           .___
\______   \____________    ____    __| _/
 |    |  _/\_  __ \__  \  /    \  / __ | 
 |    |   \ |  | \// __ \|   |  \/ /_/ | 
 |______  / |__|  (____  /___|  /\____ | 
        \/             \/     \/      \/ 
   _____  .__                          .__  __          
  /     \ |__| ___________  ____  _____|__|/  |_  ____  
 /  \ /  \|  |/ ___\_  __ \/  _ \/  ___/  \   __\/ __ \ 
/    Y    \  \  \___|  | \(  <_> )___ \|  ||  | \  ___/ 
\____|__  /__|\___  >__|   \____/____  >__||__|  \___  >
        \/        \/                 \/              \/ 


Author: Scott Patterson (SP)
Site: https://Brand.IGT.com
Version: 1.0
Date: 20170523

========================================================= */

@charset "UTF-8";

// Extensions
@import "extensions/modular-scale/stylesheets/_modular-scale",
        "extensions/font-awesome/font-awesome",
        "extensions/full_page_slides";

// Settings
@import "var/settings";

// Lists and Icons
@import "var/lists";

// Compass
@import "compass",
				"compass/reset";

// All Others
@import "functions/all",
        "base",
        "fonts",
        "typography",
        "grid",
        "ui/all",
        "shame";

// Header and Footer Naigation
@import "partials/_header",
        "partials/_footer";

// Partials - Home Page
@import "partials/_homepage",
        "partials/_subpage",
        "partials/_alerts";