/* Tabs */
.tabs {	display: block; }

.tab-nav {
  margin: 0;
  padding: 0;
  
  > li {
    top: 1px;
    display: inline-block;
    margin: 0 1% 0 0;
    padding: 0;
    width: 24.2333%;
    text-align: center;
    cursor: default;
    
    > li {
      top: 1px;
      display: inline-block;
      margin: 0 $gutter 0 0;
      padding: 0;
      width: auto;
      cursor: default;
      
      > a {
        @include border-radius($button-radius);
        display: block;
        margin: 0;
        padding: 0 $norm;
        width: auto;
        background: $newcoIGTLightestGrey;
        color: $white;
        cursor: pointer;
        
        &:hover {
          background: darken($newcoIGTBlue, 15);
          text-decoration: none;
        }
        
        &:active {
          background: darken($default-color, 2%);
        }
        @include line-and-height-alt($tab-height);
      }
      
      &.active > a {
        //@include line-and-height-alt($tab-height + 1);
        @include line-and-height-alt($tab-height);
        background: $white;
        cursor: default;
      }
      
      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.tab-nav > li:last-child {
  margin-right: 0;
}

.tab-nav > li > a {
  @include border-radius($button-radius);
  display: block;
  margin: 0;
  padding: 0 $norm;
  width: auto;
  background: $newcoIGTLightestGrey;
  color: $white;
  cursor: pointer;
  
  &:hover {
    background: darken($newcoIGTLightestGrey, 15);
    text-decoration: none;
  }
  
  &:active {
    background: darken($newcoIGTLightBlue, 15);
  }
  
  @include line-and-height-alt($tab-height);
}

.tab-nav > li.active > a {
  @include line-and-height-alt($tab-height + 1);
  background: $newcoIGTLightBlue;
}

.tabs.pill .tab-nav {
  @include border-radius($button-radius);
  display: table;
  overflow: hidden;
  width: 100%;
    
  > li {
    top: 0;
    display: table-cell;
    margin: 0;
    margin-left: -4px;
    text-align: center;
    
    &:first-child {
      margin-left: 0;
    }
    
    > a {
      @include border-radius(0);
      @include line-and-height-alt($tab-height);
      border: none;
      border-right: 1px solid darken($default-color, 5%);
    }
    
    &:last-child > a {
      border-right:none;
    }
  }
}

.tab-content {
  display: none;
  padding: 20px 10px;
  &.active {
    display: block;
  }
}

.tabs.vertical {
  .tab-nav {
    border: none;
    > li {
      display: block;
      margin: 0;
      margin-bottom: 5px;
      &.active {
        position: relative;
        z-index: 99;
        > a {
          border-right: 1px solid $global-bg-color;
        }
      }
      > a {
        @include border-radius($button-radius 0 0 $button-radius);
        border: 1px solid darken($default-color, 5%);
      }
    }
  }
  
  .tab-content {
    margin-left: -1px;
    padding: 10px 0 30px 20px;
    border-left: 1px solid darken($default-color, 5%);
  }
}