$p_tag_bottom: 30px;

%global_box_shadow {
  -webkit-box-shadow: 0 10px 10px -10px rgba(0,0,0,0.75);
  -moz-box-shadow: 0 10px 10px -10px rgba(0,0,0,0.75);
  box-shadow: 0 10px 10px -10px rgba(0,0,0,0.75);
}

%frank_light {
	font-family: Frank-Light;
}

%frank_reg {
	font-family: Frank-Regular;
}

%frank_med {
	font-family: Frank-Medium;
}

%panel_container_defaults {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0 auto;
  width: 80%;
  height: 75%;
}

// ----- Products and services Grid

%cell_ul {
  margin: auto;
  width: 69.2222%;
  height: 100%;
}

%cell_li {
  position: relative;
  float: left;
  padding: 0;
}

%cell_wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 100%;
  height: 75px;
  text-align: center;
}

%cell_title {
  display: block;
  margin: 0 0 30px 0;
  color: $newcoIGTMediumBlueLight;
  font-size: 30px;
  font-family: Frank-Medium;
}

%cell_sub_title {
  display: none;
  color: $newcoIGTMediumBlueLight;
  font-size: 18px;
}

//----

%date_defaults {
  margin-bottom: $date;
  color: $newcoIGTLighterGrey;
  text-align: left;
  font-weight: normal;
  font-size: 14px !important;
}

%panel_defaults {
  position: relative;
  width: 100%;
}

%panel_font_weight_default {
  font-size: 18px;
  line-height: 22px;
  //font-weight: bold;
}

%row_defaults {
  padding-right: 0;
  padding-left: 0;
  max-width: 100%;
  width: 100%;
}

%cell_a_tag {
  display: block;
  color: $newcoIGTLightBlue;
  text-align: left;
  text-decoration: none;
  line-height: 18px;
}

%border_bottom_mobile_wrapper {
  display: block;
  padding: 0 20px 20px 20px;
  width: 100%;
  background: $white;
}

%border_bottom_mobile {
  display: block;
  width: 100%;
  height: 1px;
  border-bottom: 1px #ccc solid;
}

%button-radius-var {
  -webkit-border-radius: $button-radius;
  -moz-border-radius: $button-radius;
  border-radius: $button-radius;
  -ms-border-radius: $button-radius;
  -o-border-radius: $button-radius;
}

%img_defaults {
  display: block;
  height: auto;
  border: 0;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic;
}

%ie_8_imageScale {
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
}

/*
%ie_8_imageScale_fix {
  z-index: auto !important;
  -ms-behavior: url(http://media.igt.com/pollyfills/backgroundsize.htc);
}
*/