header,
.main_header {
	width: 100%;
  height: 70px;
  line-height: 70px;
  position: absolute;
  z-index: 110;
  
  .logo_wrapper {
    position: relative;
    width: 100%;
    //max-width: 1040px;
    height: 70px;
    margin: 0 auto;

    .logo {
      position: absolute;
      display: block;
      top: 20px;
      left: 20px;
      background: url("#{$get-path-to-images}igt_logo@2x.png") no-repeat 0 0;
      background-size: 135px 50px;
      height: 50px;
      width: 135px;

      h1 {
        margin: 0;
        padding: 0;
        font-size: 0;
        line-height: auto !important;
      }
    }
  }
}

// ===== Main Menu =====
//With changes also need to be made to "brand_menu_custom.js" (SP)
$nav-width: 280px;

nav.cbp-spmenu {
  width: $nav-width;
  height: 100%;
	position: fixed;
	background: #333;
	z-index: 1000;
	
	&.cbp-spmenu-left { right: -$nav-width; }
  &.cbp-spmenu-left.cbp-spmenu-open { right: 0px; }
 
  .nav_wrapper {
    position: relative;
    height: 100%;
    
    .button_toggle  {
  		position: absolute;
  		top: 22px;
  		left: -62px;
  		display: block;
  		padding: 0;
  		width: 32px;
  		height: 32px;
  		opacity: 1;
  		text-align: right;
  		
  		@include respond(all-phones) {
    	  top: 6px;
    	  left: -46px;	
      }
  
  	  a {
  		  display: block;
  			margin: 0;
  			padding: 0;
  			width: 33px;
  			height: 32px;
  			background: none;
  			color: $white;
  			
  			&:hover { color: $white; }
  	  }
  	}
  
  	ul {
  		margin: 0;
  		padding: 0;
  		height: 100%;  
  
  		li {
  			height: 20%;
  			width: 100%;
  			margin: 0;
  			padding: 0;
  			color: $white;
  			display: table;
  			background-size: cover;
  			
  			&.chapter_nav {
    			text-align: left;
    			list-style-type: none;
    
    			a {
    				display: table-cell;
    				vertical-align: middle;
    				padding: 0 20px;
    				transition: all 0.5s ease;
    				
    				.menu_title,
    				.menu_subtitle {
      			  display: none;	
    				}
    				
    				.menu_title {
      				@extend %verlag_bold;
      				font-size: 24px;
    				}
    				
    				.menu_subtitle {
      				font-size: 16px;
      				font-weight: 300;
    				}
    				
    				&:hover {
      				background: rgba(0, 0, 0, .65);      				
      				
      				.menu_title { display: block; }
      				.menu_subtitle { display: block; }
    				}
    				
    				@include respond(all-phones) {
      				background: rgba(0, 0, 0, .65);  
      				
              .menu_title,
      				.menu_subtitle {
        			  display: block !important;	
      				}
      				
      				.menu_title { font-size: 20px; }
      				
      				.menu_subtitle {
        				font-size: 12px;
        				line-height: 12px;
        		  }
      		  }
    			}
  			}
  
  			a {
  				color: $white;
  				text-decoration: none;
  			}
  
  			&:hover {
  				text-decoration: none;
  			}
  			
  			&.nav_active { background: red; }
  			
        &[data-menuanchor=chapter_1] { background-image: url(https://raw.githubusercontent.com/alvarotrigo/fullPage.js/master/examples/imgs/bg1.jpg); }
        &[data-menuanchor=chapter_2] {	background-image: url(https://raw.githubusercontent.com/alvarotrigo/fullPage.js/master/examples/imgs/bg2.jpg); }
        &[data-menuanchor=chapter_3] { background-image: url(https://raw.githubusercontent.com/alvarotrigo/fullPage.js/master/examples/imgs/bg3.jpg); }
        &[data-menuanchor=chapter_4] { background-image: url(https://raw.githubusercontent.com/alvarotrigo/fullPage.js/master/examples/imgs/bg4.jpg); }
        &[data-menuanchor=chapter_5] {	background-image: url(https://raw.githubusercontent.com/alvarotrigo/fullPage.js/master/examples/imgs/bg5.jpg); }
  		}
  	}
  }
}