// ------------ HOMEPAGE

%transistion_out {
  transition: all .2s ease-out;
  -moz-transition: all .2s ease-out;
  -webkit-transition: all .2s ease-out;
  -o-transition: all .2s ease-out;
}

%transistion_in {
  transition: all .2s ease-in;
  -moz-transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
}

//HP Hero Full-Page Feature
.hp_slideshow {
  .section {
	  text-align:center;
	  background-size: cover;
	  
    h2,
    h3,
    p {
      color: $white;
      padding: 0 0 15px 0;
    }
  
    h1 {
      font-size: 50px;
      line-height: 50px;
    }
  
    h2 {
      font-size: 30px;
      line-height: 30px;
    }
  
    h3 {
      font-size: 20px;
      line-height: 20px;
    }
  
    p {
      font-size: 16px;
      line-height: 21px;
      margin: 0 auto;
      max-width: 400px;
      padding: 0;
    }
    
    .slide {
      background-size: cover;
      
      .content_wrapper {
        display: table;
        margin: 0 auto;
        padding: 0 40px;
        height: 100%;
        width: 100%;
        max-width: 1040px;
     
        .content {
          display: table-cell;
          width: 100%;
          height: 100%;
          text-align: left;
          vertical-align: middle;
        }
      }
    }
    
    #slide1 { background-image: url(https://raw.githubusercontent.com/alvarotrigo/fullPage.js/master/examples/imgs/bg1.jpg); }
    #slide2 {	background-image: url(https://raw.githubusercontent.com/alvarotrigo/fullPage.js/master/examples/imgs/bg2.jpg); }
    #slide3 { background-image: url(https://raw.githubusercontent.com/alvarotrigo/fullPage.js/master/examples/imgs/bg3.jpg); }
    #slide4 { background-image: url(https://raw.githubusercontent.com/alvarotrigo/fullPage.js/master/examples/imgs/bg4.jpg); }
    #slide5 {	background-image: url(https://raw.githubusercontent.com/alvarotrigo/fullPage.js/master/examples/imgs/bg5.jpg); }
    #slide6 { background-image: url(https://raw.githubusercontent.com/alvarotrigo/fullPage.js/master/examples/imgs/bg1.jpg); }
    
    .fp-controlArrow { display: none; }
    
    .fp-slidesNav {
      ul {
        li {
          a {
            span {
              background: $white;
            }
          }
        }
        
        li:hover {
          a {
            span {
              background: red;
            }
          }
        }
      }
    }
  }
}

.menu_dimmer {
  z-index: 3;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .65);
  
  div {
    position: relative;
    width: 100%;
    height: 100%;
    
    span {
      position: absolute;
      right: -42px;
      top: 50%;
      width: 120px;
      color: $white;
      text-align: center;
      font-size: 10px;      
      -webkit-transform: rotate(-90deg);
      -moz-transform: rotate(-90deg);
      -o-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      transform: rotate(-90deg);    
    }
  }
}