.sub_header {
  width: 100%;
  min-height: 200px; //possibly look at new number
  padding-bottom: 27.77777778%; //18:5 ratio (2880px by 800px)
  background-size: cover;
  position: relative;
  
  .sub_header_wrapper {
    height: 100%;
    width: 100%;
    position: absolute;
    
    .sub_header_container {
      height: 100%;
      width: 100%;
      display: table;    
  
      h1 {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        color: $white;
        font-size: 5vw;
        position: relative;
        
        @include respond(portrait-tablets) {
          vertical-align: bottom;
          padding-bottom: 55px;
        }
        
        @include respond(all-phones) {
          vertical-align: bottom;
          padding-bottom: 55px;
        }
      }
    }
  }
}

.sub_navigation_wrapper {
  background: $newcoIGTBlue;
  width: 100%;
  height: 90px;
  margin: 0;
  padding: 0;
  max-width: none;
  
  .sub_navigation {
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
    height: 90px;
    position: relative;
    
    @include respond(portrait-tablets) { display: table; }
    @include respond(all-phones) { display: table; }
    
    span {
      color: $white;
      font-size: 20px;
      @extend %verlag_bold;
      line-height: 90px;
      padding-left: 20px;
      
      @include respond(portrait-tablets) { display: none; }
      @include respond(all-phones) { display: none; }
    }
    
    ul {
      display: inline-block;
      position: absolute;
      top: 26px;
      right: 20px;
      font-size: 0;
      
      @include respond(portrait-tablets) {
        display: table-cell;
        text-align: center;
        position: static;
        vertical-align: middle;
        padding: 0 25px;
      }
      
      @include respond(all-phones) { 
        display: table-cell;
        text-align: center;
        position: static;
        vertical-align: middle;
        padding: 0 25px;
      }
      
      li {
        display: inline-block;
        margin: 0 0 0 5px;
        
        &:first-child { margin: 0; }
        
        a {
          display: inline-block;
          color: $white;
          font-size: 16px;
          line-height: 38px;
          @extend %verlag_book;
          padding: 0 15px;
          -webkit-border-radius: 38px;
          -moz-border-radius: 38px;
          border-radius: 38px;
          -webkit-transition: all 0.25s ease-in-out;
          -moz-transition: all 0.25s ease-in-out;
          transition: all 0.25s ease-in-out;
          
          @media only screen and (max-width: 680px) {
            font-size: 12px;
            line-height: 30px;
            padding: 0 10px;
            -webkit-border-radius: 30px;
            -moz-border-radius: 30px;
            border-radius: 30px;
          }
          
          &.active,
          &:hover {
            background: $white;
            color: $newcoIGTBlue;
            -webkit-transition: all 0.25s ease-in-out;
            -moz-transition: all 0.25s ease-in-out;
            transition: all 0.25s ease-in-out;
          }
        }
      }
    }
  }
}

[data-index="bodycopy"] {
  padding: 50px 0;
  
  @include respond(all-phones) { padding: 25px 0; }
  
  table {
    border: none;
    
    thead {
      background: none;
      color: #0c51a1;
      border-bottom: 2px solid #0c51a1;
      
      th { border: none; }
    }
    
    td,
    th {
      padding: 5px;
      font-size: 12px;
      line-height: 14px;
      vertical-align: middle;
    }
    
    td {
      font-size: 10px;
      line-height: 12px;
      padding: 5px;
      vertical-align: middle;
      
      &:nth-child(1) { width: 36px; }
      &:nth-child(2) { width: 20%;  }
      &:nth-child(3) { width: 33%;  }
      &:nth-child(4) { width: 37%;  }
      
      table td {
        &:nth-child(1) { width: 25%; }
        &:nth-child(2) { width: 25%; }
        &:nth-child(3) { width: 25%; }
        &:nth-child(4) { width: 25%; }
      }
    }
    
    table {
      margin: 0;
      border: none;
      width: auto;
      
      td {
        font-weight: normal !important;
        padding: 0 5px 0 0;
        border: none;
      }
    }    
  }

  .color_circle {
    height: 26px;
    width: 26px;
    line-height: 26px;
    display: inline-block;
    -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    border-radius: 13px;
  }	
}

.font_v-extra-light,
.font_v-light,
.font_v-book,
.font_v-bold,
.font_v-extra-light-italic,
.font_v-light-italic,
.font_v-book-italic,
.font_v-bold-italic,
.font_a-regular,
.font_a-bold,
.font_a-regular-italic,
.font_a-bold-italic,
.font_l-light,
.font_l-bold,
.font_l-light-italic,
.font_l-bold-italic {
  //Can make text bigger here if needed
}
  

.font_v-extra-light {
  font-weight: 200;
  font-style: normal;
  font-family: 'Verlag A', 'Verlag B', Arial, sans-serif;
}

.font_v-light {
  font-weight: 300;
  font-style: normal;
  font-family: 'Verlag A', 'Verlag B', Arial, sans-serif;
}

.font_v-book {
  font-weight: 400;
  font-style: normal;
  font-family: 'Verlag A', 'Verlag B', Arial, sans-serif;
}

.font_v-bold {
  font-weight: 700;
  font-style: normal;
  font-family: 'Verlag A', 'Verlag B', Arial, sans-serif;
}

.font_v-extra-light-italic {
  font-weight: 200;
  font-style: italic;
  font-family: 'Verlag A', 'Verlag B', Arial, sans-serif;
}

.font_v-light-italic {
  font-weight: 300;
  font-style: italic;
  font-family: 'Verlag A', 'Verlag B', Arial, sans-serif;
}

.font_v-book-italic {
  font-weight: 400;
  font-style: italic;
  font-family: 'Verlag A', 'Verlag B', Arial, sans-serif;
}

.font_v-bold-italic {
  font-weight: 700;
  font-style: italic;
  font-family: 'Verlag A', 'Verlag B', Arial, sans-serif;
}

.font_a-regular {
  font-weight: normal;
  font-style: normal;
  font-family: Arial, sans-serif;
}

.font_a-bold {
  font-weight: bold;
  font-style: normal;
  font-family: Arial, sans-serif;
}

.font_a-regular-italic {
  font-weight: normal;
  font-style: italic;
  font-family: Arial, sans-serif;
}

.font_a-bold-italic {
  font-weight: bold;
  font-style: italic;
  font-family: Arial, sans-serif;
}

.font_l-light {
  font-weight: 300;
  font-style: normal;
  font-family: 'Lato', Arial, Helvetica, sans-serif;
}

.font_l-bold {
  font-weight: 700;
  font-style: normal;
  font-family: 'Lato', Arial, Helvetica, sans-serif;
}

.font_l-light-italic {
  font-weight: 300;
  font-style: italic;
  font-family: 'Lato', Arial, Helvetica, sans-serif;
}

.font_l-bold-italic {
  font-weight: 700;
  font-style: italic;
  font-family: 'Lato', Arial, Helvetica, sans-serif;
}

.slideshow-container {
  position: relative;
  
  .cycle-slideshow {
    img {
      width: 100%;
      height: auto;
    }
  }
  
  #alt-caption {
    position: absolute;
    bottom: 40px;
    left: 40px;
    font-size: 20px;
    @extend %verlag_book;
    color: $white;
    z-index: 999;
    
    @media only screen and (max-width: 680px) {
      bottom: 10px;
      font-size: 14px;
      left: 10px;     
    }
  } 
  
  .nav_left {
    z-index: 999;
    position: absolute;
    bottom: 40%;
    left: 40px;
    
    @media only screen and (max-width: 680px) {
      bottom: 45%;
      left: 20px;     
    }
    
    a {
      color: $white;
      
      &:before {
        font-size: 50px;
        text-shadow: 0px 1px 3px rgba(0,0,0,0.5);
        
        @media only screen and (max-width: 680px) {
          font-size: 30px;
        }
      }
    }
  }
  
  .nav_right {
    z-index: 999;
    position: absolute;
    bottom: 40%;
    right: 40px;
    
    @media only screen and (max-width: 680px) {
      bottom: 45%;
      right: 20px;     
    }
    
    a {
      color: $white;
      
      &:before {
        font-size: 50px;
        text-shadow: 0px 1px 3px rgba(0,0,0,0.5);
        
        @media only screen and (max-width: 680px) {
          font-size: 30px;
        }
      }
    }
  }
}

.accordion {
  margin-bottom: 30px;
  
  .accordion_row {
    background: $newcoIGTBlue;
    width: 100%;
    font-size: 0;
    margin-bottom: 5px;
    cursor: pointer;
    
    &:hover { background: $newcoIGTMediumBlue; }
    
    .btn {
      background: transparent;
      color: $white;
      display: block;
      margin: 0;
      padding: 10px !important;
      font-size: 16px;
      line-height: 21px;
      text-align: left;
      height: auto;
      width: 100%;
      
      a {
        padding: 0 30px 0 0;
        
        .fa {
          position: absolute;
          right: 0;
          top: 0;
          font-size: 20px;
        }
      }
      
      &:hover {
        background: transparent;
        color: $white;
      }
    }
  }
  
  .row {
    padding: 10px;
    
    p { margin: 0; }
    p.padding { padding: 20px 0 0 0; }
    ul { margin: 20px 0 0 40px; }
  }
}